
# Tratando os dados

In [2]:
#importando as bibliotecas necessarias
import os
import pandas as pd

mostrando colunas para serem trabalhados

In [3]:
# assumindo que o csv esteja na mesma pasta local do arquivo.
df = pd.read_csv('hoteis.csv')

In [4]:
# nome das colunas
print(df.columns)

Index(['address', 'categories', 'city', 'country', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'reviews.date', 'reviews.dateAdded',
       'reviews.doRecommend', 'reviews.id', 'reviews.rating', 'reviews.text',
       'reviews.title', 'reviews.userCity', 'reviews.username',
       'reviews.userProvince'],
      dtype='object')

In [5]:
# numero de linhas e colunas
df.shape

(35912, 19)

In [6]:
df.head()

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN
2,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2014-05-13T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Ett mycket bra hotell. Det som drog ner betyge...,Lugnt l��ge,NaN,Maud,NaN
3,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-10-27T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,Good location on the Lido.,NaN,Julie,NaN
4,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-03-05T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,������ ���������������,NaN,sungchul,NaN

###  informações.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35912 entries, 0 to 35911
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   address               35912 non-null  object
 1   categories            35912 non-null  object
 2   city                  35912 non-null  object
 3   country               35912 non-null  object
 4   latitude              35826 non-null  float64
 5   longitude             35826 non-null  float64
 6   name                  35912 non-null  object
 7   postalCode            35857 non-null  object
 8   province              35912 non-null  object
 9   reviews.date          35653 non-null  object
 10  reviews.dateAdded     35912 non-null  object
 11  reviews.doRecommend   0 non-null      float64
 12  reviews.id            0 non-null      float64
 13  reviews.rating        35050 non-null  float64
 14  reviews.text          35890 non-null  object
 15  reviews.title         34290 non-null  object
 16  reviews.userCity      16263 non-null  object
 17  reviews.username      35869 non-null  object
 18  reviews.userProvince  17518 non-null  object
dtypes: float64(5), object(14)
memory usage: 5.2+ MB

In [8]:
df.describe()

,latitude,longitude,reviews.doRecommend,reviews.id,reviews.rating
count,35826.000000,35826.000000,0.0,0.0,35050.000000
mean,37.285008,-85.725758,NaN,NaN,3.776431
std,6.996544,33.062263,NaN,NaN,1.416195
min,-25.436750,-166.559040,NaN,NaN,0.000000
25%,33.827340,-104.868200,NaN,NaN,3.000000
50%,37.936026,-86.822972,NaN,NaN,4.000000
75%,41.672491,-77.044550,NaN,NaN,5.000000
max,63.877674,115.164407,NaN,NaN,10.000000

In [9]:
# colunas e quantidades de nulos
df.isnull().sum()

address                     0
categories                  0
city                        0
country                     0
latitude                   86
longitude                  86
name                        0
postalCode                 55
province                    0
reviews.date              259
reviews.dateAdded           0
reviews.doRecommend     35912
reviews.id              35912
reviews.rating            862
reviews.text               22
reviews.title            1622
reviews.userCity        19649
reviews.username           43
reviews.userProvince    18394
dtype: int64

## Limpeza dos dados

Nesse projeto não iremos utilizar todas as colunas, então retirando e deixando o apenas essencial.

In [10]:
trash = ['latitude', 'longitude', 'reviews.userProvince', 'reviews.userCity', 'reviews.doRecommend', 'reviews.id','province']
df = df.drop(columns=trash)

In [11]:
# excluindo dados duplicados se existir.
df = df.drop_duplicates()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35905 entries, 0 to 35911
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   address            35905 non-null  object
 1   categories         35905 non-null  object
 2   city               35905 non-null  object
 3   country            35905 non-null  object
 4   name               35905 non-null  object
 5   postalCode         35850 non-null  object
 6   reviews.date       35646 non-null  object
 7   reviews.dateAdded  35905 non-null  object
 8   reviews.rating     35043 non-null  float64
 9   reviews.text       35883 non-null  object
 10  reviews.title      34283 non-null  object
 11  reviews.username   35862 non-null  object
dtypes: float64(1), object(11)
memory usage: 3.6+ MB

In [13]:
# mudando de object para datetime
df['reviews.date'] = pd.to_datetime(df['reviews.date'], errors='coerce')
df['reviews.dateAdded'] = pd.to_datetime(df['reviews.dateAdded'], errors='coerce')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35905 entries, 0 to 35911
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   address            35905 non-null  object
 1   categories         35905 non-null  object
 2   city               35905 non-null  object
 3   country            35905 non-null  object
 4   name               35905 non-null  object
 5   postalCode         35850 non-null  object
 6   reviews.date       35646 non-null  datetime64[ns, UTC]
 7   reviews.dateAdded  35905 non-null  datetime64[ns, UTC]
 8   reviews.rating     35043 non-null  float64
 9   reviews.text       35883 non-null  object
 10  reviews.title      34283 non-null  object
 11  reviews.username   35862 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), object(9)
memory usage: 3.6+ MB

In [15]:
df.isnull().sum()

address                 0
categories              0
city                    0
country                 0
name                    0
postalCode             55
reviews.date          259
reviews.dateAdded       0
reviews.rating        862
reviews.text           22
reviews.title        1622
reviews.username       43
dtype: int64

In [16]:
# Preencher valores numéricos ausentes com a média
df['reviews.rating'].fillna(df['reviews.rating'].mean(), inplace=True)

# Preencher valores categóricos ausentes com o valor mais comum
df['postalCode'].fillna(df['postalCode'].mode()[0], inplace=True)

# Remover linhas com dados ausentes
df.dropna(subset=['reviews.date', 'reviews.text'], inplace=True)

In [17]:
df.isnull().sum()

address                 0
categories              0
city                    0
country                 0
name                    0
postalCode              0
reviews.date            0
reviews.dateAdded       0
reviews.rating          0
reviews.text            0
reviews.title        1383
reviews.username       43
dtype: int64

In [18]:
# usuarios sem nome recebera Anonimo, para não termos valores nulo no nosso data
df['reviews.username'].fillna('Anônimo', inplace=True)
df['reviews.title'].fillna('No Title', inplace=True)

In [19]:
df.isnull().sum()

address              0
categories           0
city                 0
country              0
name                 0
postalCode           0
reviews.date         0
reviews.dateAdded    0
reviews.rating       0
reviews.text         0
reviews.title        0
reviews.username     0
dtype: int64

In [20]:
df['reviews.text'] = df['reviews.text'].str.lower()
df['reviews.title'] = df['reviews.title'].str.lower()

In [21]:
df

,address,categories,city,country,name,postalCode,reviews.date,reviews.dateAdded,reviews.rating,reviews.text,reviews.title,reviews.username
0,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2013-09-22 00:00:00+00:00,2016-10-24 00:00:25+00:00,4.0,pleasant 10 min walk along the sea front to th...,good location away from the crouds,Russ (kent)
1,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2015-04-03 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,really lovely hotel. stayed on the very top fl...,great hotel with jacuzzi bath!,A Traveler
2,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2014-05-13 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,ett mycket bra hotell. det som drog ner betyge...,lugnt l��ge,Maud
3,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2013-10-27 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,we stayed here for four nights in october. the...,good location on the lido.,Julie
4,Riviera San Nicol 11/a,Hotels,Mableton,US,Hotel Russo Palace,30126,2015-03-05 00:00:00+00:00,2016-10-24 00:00:25+00:00,5.0,we stayed here for four nights in october. the...,������ ���������������,sungchul
...,...,...,...,...,...,...,...,...,...,...,...,...
35905,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2016-07-06 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,we truly enjoyed staying at the elk springs re...,we loved it!,randolphtiffany
35906,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2016-05-02 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,we were here for a 2nd time the last weekend o...,amazing time (both times!!),Sabrina P
35907,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2012-03-20 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,best of the best!!!! my family and i stayed in...,amazing time (both times!!),Chelsa K.
35908,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2012-03-12 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,amazing vacation in beautiful cabin we stayed ...,amazing time (both times!!),Heather D.
35909,1088 Powdermill Rd,"Cabins,Resorts & Vacation Cottages,Wedding Cha...",Gatlinburg,US,Elk Springs Resort,37738,2015-11-03 00:00:00+00:00,2016-06-23 16:50:58+00:00,5.0,my husband and i stayed at tree tops which is ...,amazing time (both times!!),Carol W.

## Tradutor dos reviews

In [54]:
review_text = []
i = 0
while i < 100:
    if i == 56:
        i = i + 5;
    if i == 97:
        i = i + 2
    if df['reviews.text'][i]:
        review_text.append(df['reviews.text'][i].lower())
        i = i + 1

In [55]:
j = 0
review_text_translate = []
while j < len(review_text):
    if j == 56:
        j = j + 5;
    if j == 97:
        j = j + 2
    if review_text[j]:
        txt = ">>pt_BR<<" + review_text[j]
        review_text_translate.append(txt)
        j = j + 1

In [56]:
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
model = AutoModelForSeq2SeqLM.from_pretrained("Helsinki-NLP/opus-mt-en-ROMANCE")
tokenizer = AutoTokenizer.from_pretrained("Helsinki-NLP/opus-mt-en-ROMANCE")

C:\Users\dhull\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\marian\tokenization_marian.py:194: UserWarning: Recommended: pip install sacremoses.
  warnings.warn("Recommended: pip install sacremoses.")

In [61]:

batch_input_str = (review_text_translate[0:20])

encoded = tokenizer(batch_input_str, return_tensors = 'pt', padding=True)

translated = model.generate(**encoded)

textos = tokenizer.batch_decode(translated, skip_special_tokens=True)

## Traduzindo os 20 primeiros reviews

In [69]:
k = 0
k_texts = []
while k < 20:
    if review_text[k][0:10] != textos[k][0:10].lower():
        print("Texto original: ", review_text[k], "\n\nTexto traduzido: ", textos[k],"\n")
        print("---"*42,"\n")
        k_texts.append(textos[k])
        k = k + 1
    else:
        k = k + 1

Texto original:  pleasant 10 min walk along the sea front to the water bus. restaurants etc. hotel was comfortable breakfast was good - quite a variety. room aircon didn't work very well. take mosquito repelant!

Texto traduzido:  agradável 10 minutos de caminhada ao longo da frente do mar para o ônibus aquático. restaurantes etc. hotel foi café da manhã confortável foi bom - bastante uma variedade. quarto arcon não funcionou muito bem. tome mosquito repelente!

------------------------------------------------------------------------------------------------------------------------------

Texto original:  really lovely hotel. stayed on the very top floor and were surprised by a jacuzzi bath we didn't know we were getting! staff were friendly and helpful and the included breakfast was great! great location and great value for money. didn't want to leave!

Texto traduzido:  hotel muito adorável. ficou no último andar e ficou surpreso com um banho de jacuzzi que não sabíamos que estávamos recebendo! funcionários foram amigáveis e úteis e o café da manhã incluído foi ótimo! excelente localização e grande custo-benefício. não quis sair!

------------------------------------------------------------------------------------------------------------------------------

Texto original:  we stayed here for four nights in october. the hotel staff were welcoming, friendly and helpful. assisted in booking tickets for the opera. the rooms were clean and comfortable- good shower, light and airy rooms with windows you could open wide. beds were comfortable. plenty of choice for breakfast.spa at hotel nearby which we used while we were there.

Texto traduzido:  nós ficamos aqui por quatro noites em outubro. o pessoal do hotel foi acolhedor, amigável e útil. assistido na reserva de bilhetes para a ópera. os quartos estavam limpo e confortável- bom chuveiro, quartos claros e aéreos com janelas que você poderia abrir ampla. camas eram confortáveis. muita escolha para o pequeno- almoço. spa no hotel nas proximidades que nós usamos enquanto estávamos lá.

------------------------------------------------------------------------------------------------------------------------------

Texto original:  we stayed here for four nights in october. the hotel staff were welcoming, friendly and helpful. assisted in booking tickets for the opera. the rooms were clean and comfortable- good shower, light and airy rooms with windows you could open wide. beds were comfortable. plenty of choice for breakfast.spa at hotel nearby which we used while we were there.

Texto traduzido:  nós ficamos aqui por quatro noites em outubro. o pessoal do hotel foi acolhedor, amigável e útil. assistido na reserva de bilhetes para a ópera. os quartos estavam limpo e confortável- bom chuveiro, quartos claros e aéreos com janelas que você poderia abrir ampla. camas eram confortáveis. muita escolha para o pequeno- almoço. spa no hotel nas proximidades que nós usamos enquanto estávamos lá.

------------------------------------------------------------------------------------------------------------------------------

Texto original:  we loved staying on the island of lido! you need to take a water is from venice to get there. from the train station, a boat ride takes 45 minutes but has beautiful views along the way. hotel is an easy walk from the boat dock. the room was very clean and the breakfast was plentiful. we would definitely recommend this hotel!

Texto traduzido:  Nós amamos ficar na ilha de lido! você precisa tomar uma água é de Veneza para chegar lá. da estação de trem, um passeio de barco leva 45 minutos, mas tem belas vistas ao longo do caminho. hotel é um passeio fácil da doca do barco. o quarto estava muito limpo e o pequeno-almoço foi abundante. nós definitivamente recomendaríamos este hotel!

------------------------------------------------------------------------------------------------------------------------------

Texto original:  lovely view out onto the lagoon. excellent view. staff were welcoming and helpful.

Texto traduzido:  vista adorável para a laguna. vista excelente. a equipe foi acolhedora e útil.

------------------------------------------------------------------------------------------------------------------------------

Texto original:  it was ok hotel is nice from in and out but room was small we paid for double bed bat they atteched 2 single bed

Texto traduzido:  era ok hotel é bom de dentro e fora, mas quarto era pequeno nós pagamos por taco de cama de casal eles ateched 2 cama de solteiro

------------------------------------------------------------------------------------------------------------------------------

Texto original:  bardzo sympatyczna obsuga, klimat hotelu. wietna azienka, widok na zatok. bardzo dobry stosunek cena/jakosc. polecam!

Texto traduzido:  bardzo simpatityczna obsuga, hotelu klimat. wietna azienka, widok na zatok. bardzo dobry stosunek cena/jakosc. polecam!

------------------------------------------------------------------------------------------------------------------------------

Texto original:  bra o lugnt lge. stor terrass. nra till den hrliga lidostranden.bara en tv-kanal. bra frukost. litet opraktiskt badrum.trevlig och kunnig personal.

Texto traduzido:  o sutiã o lugnt lge. stor terrass. nra till den hrliga lidostranden.bara en tv- kanal. sutiã frukost. litet opraktiskt badrum.trevlig och kunnig personal.

------------------------------------------------------------------------------------------------------------------------------

Texto original:  the hotel staff was very friendly and helpful. the room was clean and comfortable. my wife and i had a room with a terrace over looking the water...it was a great view! i will look to stay at this hotel my next time in venice...very pleased.

Texto traduzido:  a equipe do hotel foi muito amigável e útil. o quarto estava limpo e confortável. minha esposa e eu tínhamos um quarto com um terraço sobre a água... foi uma ótima vista! eu vou olhar para ficar neste hotel minha próxima vez em Veneza... muito satisfeito.

------------------------------------------------------------------------------------------------------------------------------

Texto original:  nice hotel , with very friendly staff and helpful - great choice for breakfast , something for everyone.

Texto traduzido:  agradável hotel, com pessoal muito amigável e útil - grande escolha para o café da manhã, algo para todos.

------------------------------------------------------------------------------------------------------------------------------

Texto original:  . .

Texto traduzido:  .......................................................................................

------------------------------------------------------------------------------------------------------------------------------

'ett mycket'

'ett mycket'